# Title: molovestoshare-on-ghost
# Description: My Blog
# Icon URL: https://fynydd.com/media/1515/ghost_logo_big.png?width=800&quality=80
---
networks:
  net: {}

services:
  proxy:
    image: nginx:latest
    container_name: mologhost-proxy
    networks:
      - net
    ports:
      - "${PROXY_HTTP_PORT}:80"
      - "${PROXY_HTTPS_PORT}:443"
    depends_on:
      - ghost
    volumes:
      - ${NGINX_CRT_PATH}:/etc/ssl/certs/ghost.molovestoshare.com.crt:z
      - ${NGINX_KEY_PATH}:/etc/ssl/private/ghost.molovestoshare.com.key:z
      - ${NGINX_CONF_PATH}:/etc/nginx/conf.d/ghost.conf:z

  ghost:
    image: ghost:${GHOST_IMAGE_TAG}
    container_name: mologhost-blog
    hostname: ghost
    restart: always
    networks:
      - net
    ports:
      - "${GHOST_PORT}:2368"
    depends_on:
      - gdb
    environment:
      url: ${GHOST_URL}
      database__client: mysql
      database__connection__host: ${DB_HOST}
      database__connection__user: ${DB_USER}
      database__connection__password: ${DB_PASSWORD}
      database__connection__database: ${DB_NAME}
      database__connection__port: ${DB_PORT}
      comments__url: ${GHOST_COMMENTS_URL}
      comments__styles: ${GHOST_COMMENTS_STYLES}
    volumes:
      - ${GHOST_CONTENT_PATH}:/var/lib/ghost/content

  gdb:
    image: mariadb:${MARIADB_IMAGE_TAG}
    container_name: mologhost-deebee
    restart: always
    command: "--max-allowed-packet=5242880"
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    networks:
      - net
    ports:
      - "${DB_PORT}:3306"
    expose:
      - "3306"
    volumes:
      - ${MARIADB_DATA_PATH}:/var/lib/mysql

